In [34]:
import time
import requests
import numpy as np
import pandas as pd
import re
!pip install scrapy
from scrapy.http import TextResponse

Requirement already satisfied: scrapy in /usr/local/lib/python3.6/dist-packages (2.2.0)
Requirement already satisfied: PyDispatcher>=2.0.5 in /usr/local/lib/python3.6/dist-packages (from scrapy) (2.0.5)
Requirement already satisfied: pyOpenSSL>=16.2.0 in /usr/local/lib/python3.6/dist-packages (from scrapy) (19.1.0)
Requirement already satisfied: parsel>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from scrapy) (1.6.0)
Requirement already satisfied: Twisted>=17.9.0 in /usr/local/lib/python3.6/dist-packages (from scrapy) (20.3.0)
Requirement already satisfied: cryptography>=2.0 in /usr/local/lib/python3.6/dist-packages (from scrapy) (2.9.2)
Requirement already satisfied: queuelib>=1.4.2 in /usr/local/lib/python3.6/dist-packages (from scrapy) (1.5.0)
Requirement already satisfied: lxml>=3.5.0 in /usr/local/lib/python3.6/dist-packages (from scrapy) (4.2.6)
Requirement already satisfied: cssselect>=0.9.1 in /usr/local/lib/python3.6/dist-packages (from scrapy) (1.1.0)
Requirement already satisfied: itemadapter>=0.1.0 in /usr/local/lib/python3.6/dist-packages (from scrapy) (0.1.0)
Requirement already satisfied: service-identity>=16.0.0 in /usr/local/lib/python3.6/dist-packages (from scrapy) (18.1.0)
Requirement already satisfied: w3lib>=1.17.0 in /usr/local/lib/python3.6/dist-packages (from scrapy) (1.22.0)
Requirement already satisfied: zope.interface>=4.1.3 in /usr/local/lib/python3.6/dist-packages (from scrapy) (5.1.0)
Requirement already satisfied: protego>=0.1.15 in /usr/local/lib/python3.6/dist-packages (from scrapy) (0.1.16)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.6/dist-packages (from pyOpenSSL>=16.2.0->scrapy) (1.12.0)
Requirement already satisfied: constantly>=15.1 in /usr/local/lib/python3.6/dist-packages (from Twisted>=17.9.0->scrapy) (15.1.0)
Requirement already satisfied: incremental>=16.10.1 in /usr/local/lib/python3.6/dist-packages (from Twisted>=17.9.0->scrapy) (17.5.0)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.6/dist-packages (from Twisted>=17.9.0->scrapy) (19.3.0)
Requirement already satisfied: Automat>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from Twisted>=17.9.0->scrapy) (20.2.0)
Requirement already satisfied: PyHamcrest!=1.10.0,>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from Twisted>=17.9.0->scrapy) (2.0.2)
Requirement already satisfied: hyperlink>=17.1.1 in /usr/local/lib/python3.6/dist-packages (from Twisted>=17.9.0->scrapy) (19.0.0)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /usr/local/lib/python3.6/dist-packages (from cryptography>=2.0->scrapy) (1.14.0)
Requirement already satisfied: pyasn1 in /usr/local/lib/python3.6/dist-packages (from service-identity>=16.0.0->scrapy) (0.4.8)
Requirement already satisfied: pyasn1-modules in /usr/local/lib/python3.6/dist-packages (from service-identity>=16.0.0->scrapy) (0.2.8)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from zope.interface>=4.1.3->scrapy) (47.3.1)
Requirement already satisfied: idna>=2.5 in /usr/local/lib/python3.6/dist-packages (from hyperlink>=17.1.1->Twisted>=17.9.0->scrapy) (2.9)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi!=1.11.3,>=1.8->cryptography>=2.0->scrapy) (2.20)


# ***Problem 1(Scraping quotes)***

In [35]:
URL="http://quotes.toscrape.com/"

In [36]:
page=requests.get(URL)

In [37]:
type(page)

requests.models.Response

In [38]:
page.url

'http://quotes.toscrape.com/'

In [39]:
response= TextResponse(body=page.text,url=URL,encoding="utf-8")

In [40]:
def request(url):
    page = requests.get(url)
    response = TextResponse(body=page.text,url=url,encoding="utf-8")
    return response

In [41]:
def quote_scraper(response):
    page = requests.get(url)
    response= TextResponse(body=page.text,url=url,encoding="utf-8")
    author = response.css("small.author::text").extract()
    quotes = response.css("div.quote > span.text::text").extract()
    div_tags =response.css("div.tags ")
    tags = [i.css("a.tag::text").extract() for i in response.css("div.tags")]
    base_url="http://quotes.toscrape.com/"
    rel_hyperlinks=response.css("small.author~a::attr(href)").extract()
    hyperlink=[base_url+i for i in rel_hyperlinks]
    return pd.DataFrame({"quotes":quotes,"author":author,"tags":tags,"author_page":hyperlink})

In [42]:
quotes = []
url = "http://quotes.toscrape.com/" 
while True:
    response =request(url)
    quotes.append(quote_scraper(response))
    url_for_next_page = response.css("li.next > a::attr(href)").extract_first()
    if url_for_next_page:
        url = response.urljoin(url_for_next_page)
    else:
        break

In [43]:
quotes = pd.concat(quotes)
quotes

                                               quotes  ...                                        author_page
0   “The world as we have created it is a process ...  ...  http://quotes.toscrape.com//author/Albert-Eins...
1   “It is our choices, Harry, that show what we t...  ...     http://quotes.toscrape.com//author/J-K-Rowling
2   “There are only two ways to live your life. On...  ...  http://quotes.toscrape.com//author/Albert-Eins...
3   “The person, be it gentleman or lady, who has ...  ...     http://quotes.toscrape.com//author/Jane-Austen
4   “Imperfection is beauty, madness is genius and...  ...  http://quotes.toscrape.com//author/Marilyn-Monroe
..                                                ...  ...                                                ...
5   “You never really understand a person until yo...  ...      http://quotes.toscrape.com//author/Harper-Lee
6   “You have to write the book that wants to be w...  ...  http://quotes.toscrape.com//author/Madeleine-L...
7   “Never tell the truth to people who are not wo...  ...      http://quotes.toscrape.com//author/Mark-Twain
8         “A person's a person, no matter how small.”  ...        http://quotes.toscrape.com//author/Dr-Seuss
9   “... a mind needs books as a sword needs a whe...  ...  http://quotes.toscrape.com//author/George-R-R-...

[100 rows x 4 columns]

# ***Problem 2(Scraping movies)***

In [44]:
URL="https://www.imdb.com/chart/moviemeter"

In [45]:
page=requests.get(URL)

In [46]:
response= TextResponse(body=page.text,url=URL,encoding="utf-8")

In [47]:
response.css("td>span.secondaryInfo::text").extract()

['(2020)',
 '(2020)',
 '(2020)',
 '(2020)',
 '(2019)',
 '(2020)',
 '(2020)',
 '(2020)',
 '(2019)',
 '(2019)',
 '(2020)',
 '(2019)',
 '(2020)',
 '(2019)',
 '(2019)',
 '(2019)',
 '(2020)',
 '(2019)',
 '(2020)',
 '(2020)',
 '(2019)',
 '(2019)',
 '(2020)',
 '(2019)',
 '(2019)',
 '(2020)',
 '(2013)',
 '(2019)',
 '(2019)',
 '(2020)',
 '(2020)',
 '(2019)',
 '(2020)',
 '(1994)',
 '(1979)',
 '(2019)',
 '(2013)',
 '(2020)',
 '(2020)',
 '(1995)',
 '(2001)',
 '(2018)',
 '(2011)',
 '(2019)',
 '(2020)',
 '(2018)',
 '(2010)',
 '(2019)',
 '(2019)',
 '(2020)',
 '(2019)',
 '(2014)',
 '(2019)',
 '(1972)',
 '(2019)',
 '(1991)',
 '(2020)',
 '(1939)',
 '(2020)',
 '(2001)',
 '(2020)',
 '(1985)',
 '(2020)',
 '(2007)',
 '(2014)',
 '(2008)',
 '(2010)',
 '(2021)',
 '(2018)',
 '(2005)',
 '(2019)',
 '(2020)',
 '(2021)',
 '(2019)',
 '(1994)',
 '(2020)',
 '(2012)',
 '(2020)',
 '(1996)',
 '(2017)',
 '(2019)',
 '(2019)',
 '(2020)',
 '(2019)',
 '(2019)',
 '(1999)',
 '(2020)',
 '(2019)',
 '(1997)',
 '(2019)',
 '(2020)',
 '(2019)',
 '(2016)',
 '(2020)',
 '(2009)',
 '(2019)',
 '(2020)',
 '(2003)',
 '(2020)',
 '(2020)']

In [48]:
response.css("td.titleColumn > a::text").extract()

['365 Days',
 'Da 5 Bloods',
 'Artemis Fowl',
 'The King of Staten Island',
 'Knives Out',
 'You Should Have Left',
 'Palm Springs',
 'Tenet',
 'Uncut Gems',
 'Parasite',
 'The Last Days of American Crime',
 'Once Upon a Time... in Hollywood',
 'The Hunt',
 'Joker',
 'The Gentlemen',
 'Just Mercy',
 'Dune',
 '7500',
 'Bill & Ted Face the Music',
 'Gulabo Sitabo',
 'Avengers: Endgame',
 'The Personal History of David Copperfield',
 'The Invisible Man',
 '1917',
 'The Vast of Night',
 'Infamous',
 'Snowpiercer',
 'Ad Astra',
 'Midsommar',
 'Eurovision Song Contest: The Story of Fire Saga',
 'Becky',
 'Dads',
 'The Wrong Missy',
 'The Shawshank Redemption',
 'Alien',
 'Chhichhore',
 'The Wolf of Wall Street',
 'The Night Clerk',
 'No Time to Die',
 'Clueless',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Hereditary',
 'The Help',
 'Jojo Rabbit',
 'Extraction',
 'BlacKkKlansman',
 'Inception',
 'Rocketman',
 'Star Wars: The Rise Of Skywalker',
 'Birds of Prey: And the Fantabulous Emancipation of One Harley Quinn',
 'Little Women',
 'The Guest',
 'Wasp Network',
 'The Godfather',
 'Ready or Not',
 'The Silence of the Lambs',
 'Feel the Beat',
 'Gone with the Wind',
 'Mulan',
 "Harry Potter and the Sorcerer's Stone",
 'Bad Boys For Life',
 'Back to the Future',
 'Wonder Woman 1984',
 'Into the Wild',
 'Interstellar',
 'The Dark Knight',
 'The Last Airbender',
 "Zack Snyder's Justice League",
 'Black Panther',
 'V for Vendetta',
 'Gemini Man',
 'Shirley',
 'The Batman',
 'The Good Liar',
 'Pulp Fiction',
 'Peninsula',
 'Django Unchained',
 'Candyman',
 'Twister',
 'Lady Bird',
 'Babyteeth',
 'Jumanji: The Next Level',
 'Top Gun: Maverick',
 'Maleficent: Mistress of Evil',
 'The Lodge',
 'The Matrix',
 'Penguin',
 'The Lighthouse',
 'The Fifth Element',
 'The Platform',
 'Greyhound',
 'Ford v Ferrari',
 'Rogue One: A Star Wars Story',
 'Scoob!',
 'Inglourious Basterds',
 'The Rising Hawk',
 'Bloodshot',
 'The Room',
 'Emma.',
 'Onward']

In [49]:
def scraping_movies(url):
    page = requests.get(url)
    response = TextResponse(body=page.text,url=url,encoding="utf-8")
    year_of_release = response.css("td >span.secondaryInfo::text").extract()
    year = [i.replace("(" , "").replace(")" , "") for i in year_of_release]
    movie_title = response.css("td.titleColumn > a ::text").extract()
    rate = response.css("td.ratingColumn.imdbRating")
    imdb_rate = [i.css('strong::text').extract_first() for i in response.css("td.ratingColumn.imdbRating")]
    movie_link = response.css("td.titleColumn ::attr(href)").extract()
    base_url="https://www.imdb.com/chart/moviemeter/"
    hyperlink = 'https://www.imdb.com/'
    movie_hyperlink = [hyperlink+i for i in movie_link]
    div_rank = response.css("div.velocity")
    rank= [i.css("::text").extract_first() for i in div_rank]  
    return pd.DataFrame({"movie_title":movie_title,  "year":year, "imdb_rate":imdb_rate, "movie_hyperlink": movie_hyperlink , 'rank':rank,})
imdbmovies =scraping_movies(url = "https://www.imdb.com/chart/moviemeter/")
imdbmovies

                  movie_title  ...              rank
0                    365 Days  ...  1\n(no change)\n
1                 Da 5 Bloods  ...               2\n
2                Artemis Fowl  ...               3\n
3   The King of Staten Island  ...               4\n
4                  Knives Out  ...               5\n
..                        ...  ...               ...
95            The Rising Hawk  ...              96\n
96                  Bloodshot  ...              97\n
97                   The Room  ...              98\n
98                      Emma.  ...              99\n
99                     Onward  ...             100\n

[100 rows x 5 columns]

In [52]:
def booksto_scrape(url):
    page=requests.get(url)
    response=TextResponse(body=page.text,url=url,encoding="utf-8")

    book_title=response.css("h3>a::attr(title)").extract()
    book_rating=response.css("p[class^='star-rating']::attr(class)").extract()
    p_price = response.css("p[class^='price_color']::attr(class)").extract()
    price = [i.replace("Â", "") for i in p_price]
    instock_or_not  =response.css("p.price_color ~ p.instock::attr(class)").extract()
    instock = [i.replace("availability", " ") for i in instock_or_not]
    base_url = "http://books.toscrape.com/catalogue/"
    book_page_URL = response.css("h3 >a::attr(href)").extract()
    book_page_URL2 = [base_url + i for i in book_page_URL ]
    book_picture_URL = response.css("img::attr(src)").extract()
    book_picture_URL2 = [base_url + i for i in book_picture_URL] 
    rating = []
    for i in book_rating:
      rating.append(i.replace("star-rating", ""))
    return pd.DataFrame({"book_title":book_title, "rating":rating, "price":price,"instock":instock, "book_page_URL2":book_page_URL2, "book_picture_URL2":book_picture_URL2})  
bookslist = []
for i in range(1,11561000):
    current_page =booksto_scrape(url = f"http://books.toscrape.com/catalogue/page-{i}.html")
    if current_page.shape[0] == 0:
        break
    else:
        bookslist.append(current_page)
bookslist = pd.concat(bookslist)
bookslist

                                           book_title  ...                                  book_picture_URL2
0                                A Light in the Attic  ...  http://books.toscrape.com/catalogue/../media/c...
1                                  Tipping the Velvet  ...  http://books.toscrape.com/catalogue/../media/c...
2                                          Soumission  ...  http://books.toscrape.com/catalogue/../media/c...
3                                       Sharp Objects  ...  http://books.toscrape.com/catalogue/../media/c...
4               Sapiens: A Brief History of Humankind  ...  http://books.toscrape.com/catalogue/../media/c...
..                                                ...  ...                                                ...
15  Alice in Wonderland (Alice's Adventures in Won...  ...  http://books.toscrape.com/catalogue/../media/c...
16   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  ...  http://books.toscrape.com/catalogue/../media/c...
17  A Spy's Devotion (The Regency Spies of London #1)  ...  http://books.toscrape.com/catalogue/../media/c...
18                1st to Die (Women's Murder Club #1)  ...  http://books.toscrape.com/catalogue/../media/c...
19                 1,000 Places to See Before You Die  ...  http://books.toscrape.com/catalogue/../media/c...

[1000 rows x 6 columns]